/* styles.css */

/* Hidden gif */
.hidden {
    display: none;
}

#completion-gif-container {
    text-align: center;
    margin-top: 20px;
}

.thank-you-gif {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow-x: hidden;
}

/* Centered image with padding and responsive design */
.question-image {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    height: auto;
}

.thank-you-container {
    display: center;
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.centered img {
    display: block;
    margin-top: 20px;
}

/* Body background color */
body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

body, h1, p, button {
    font-family: 'Sedan', sans-serif;
    font-weight: bold;
}

/* Header styling */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}



/* feedback form */

.feedback-form {
    font-family: 'Sedan', sans-serif;
    padding-top: 0.625rem;
    margin: 5rem auto;
    max-width: 70%;
    text-align: center;
}


/* Main content area */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Back button styling */
.back-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #34495e;
}

/* Social media icons */
.social-media {
    display: flex;
    padding: 2px;
    justify-content: center;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
}

.social-media a:hover {
    color: #ecf0f1;
}

/* Responsive design for small screens */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    .thank-you-gif {
        max-width: 100vw;
    }
    header, footer {
        padding: 3rem; 
    }
}

/* medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header, footer {
        padding: 2.75rem; 
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}